.c-modal{
    position:fixed;
    inset:0;
    top:calc(var(--primary-mobile-navigation-height) + var(--primary-mobile-header-height));
    background-color: rgba(0, 0, 0, 0.8);
    display:flex;
    justify-content:center;
    align-items:center;
}

@media(min-width:768px){
    .c-modal{
        top: var(--primary-desktop-header-height);
    }
}