*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: unset;
}

:root{
    --primary-theme-light-grey: rgba(39, 39, 39, 1);
    --primary-theme-dark-grey: rgba(27, 27, 27, 1);
    --primary-theme-light-blue: rgba(41, 142, 234, 1);
    --primary-theme-transparent-text: rgba(255, 255, 255, .7);
    --primary-theme-text: rgba(255, 255, 255, 1);
}

body{
    min-height: 200vh;
}

.l-main-grid{
    background-color:green;
    height:30px;
    width:100%;
    margin-top: 88px;
}

.l-flex{
    display: flex;
    flex-direction: column;
}

.l-flex--reverse{
    flex-direction: row;
}

@media(min-width:768px){
    .l-flex{
        flex-direction: row;
    }

    .l-flex--reverse{
        flex-direction: column;
    }

    .l-main-grid{
        margin-top:unset;
    }
}