*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: unset;
}

:root{
    --primary-theme-light-grey: rgba(39, 39, 39, 1);
    --primary-theme-dark-grey: rgba(27, 27, 27, 1);
    --primary-theme-light-blue: rgba(41, 142, 234, 1);
    --primary-theme-transparent-text: rgba(255, 255, 255, .7);
    --primary-theme-text: rgba(255, 255, 255, 1);
}