.l-grid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding:20px;
    gap:20px;
}

.c-product{
    background-color: var(--primary-theme-light-grey);
    padding:10px;
    transition: all .3s ease;
}

.c-product:hover{
    transform:scale(1.02);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    cursor:pointer;
}

.c-product__figure{
    text-align: center;
}

.c-product__image{
    width: 100%;
    display: block;
}

.c-product__figcaption{
    color: var(--primary-theme-transparent-text);
    padding: 15px 0;
    font-weight:bold;
}

@media(min-width:768px){
    .l-grid{ 
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    }
}