.c-nav{
    background-color: var(--primary-theme-light-grey);
    position:fixed;
    right:0;
    left:0;
    top:40px;
}

.c-nav__ul{
    display: flex;
    justify-content: space-evenly;
}

.c-nav__li{
    color: var(--primary-theme-transparent-text);
    flex-basis:20%;
    text-align:center;
}

.c-nav__a {
    padding:35px 0;
    display:block;
}

.c-nav__a:hover{
    background-color: var(--primary-theme-dark-grey);
    border-radius:15px;
}

@media(min-width:768px){
    .c-nav{
        position:unset;
        left:unset;
        right:unset;
    }
}