.c-nav{
    background-color: var(--primary-theme-light-grey);
}

.c-nav__ul{
    display: flex;
    justify-content: space-evenly;
}

.c-nav__li{
    color: var(--primary-theme-transparent-text);
    flex-basis:20%;
    text-align:center;
}

.c-nav__a {
    padding:35px 0;
    display:block;
}